@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "utils/animation";

body {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	color: $mainFontColor;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
